body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    transition: all .2s;
}
.cursor{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4840A3;
    margin-left: 5px;
}
.typing-box{
    display: inline-block;
}
.blink{
    animation: blinking 1s ease-in-out infinite;
}

@keyframes blinking {
    0%{
       opacity: 0; 
    }    
    100%{
        opacity: 1;
    }    
}
.w-10{
    width: 10px;
    height: 10px;
    background-color: #4840A3;
}
.nav-link{
    cursor: pointer;
}
.navbar-brand{
    background: linear-gradient(90deg, #4840A3 , #0d6efd);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.status-indicator{
    width: 8px;
    height: 8px;
    display: inline-block;
}

 #custom-body{
     /* background-color: #EBf5f0 !important; */
}

.custom-card{
    /* background-color: #DBE2E9 !important; */
    padding: 5px;
    height: 100%;
    transition: all .2s;
}
.custom-card:hover{
    transform: skewX(4deg);
}
.custom-img{
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #000;
}
.switch-btn{
    width: 45px;
    height: 22px;
    border-radius: 40px;
    background-color: #fff;
    cursor: pointer;
}
.switch-btn-circle{
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background-color: #aaa9a9;
    transition: all .2s;
}
.switch-btn-active{
    background-color: #fff !important;
    transform: translateX(24px);
}

.dark-input::placeholder{
    color: #aaa9a9;
}
.dark-input{
    color: #fff !important;
}
.dark-card{
    background-color: #282828;
    border: none !important;
    box-shadow: 0 0 2px #fff;
}
.dark-card{
    color: #fff;
}