@media (max-width: 952px){
    .intro-container{
        padding-top: 90px;
    }
    .intro-container .intro-box p{
        width: 300px;
    }
    .top-boxes{
        top: -75px;
    }
    .services_section{
        gap: 100px;
        margin-bottom: 100px;
        justify-content: center;
    }
    .skill-section .skill-box{
        height: 700px;
    }
    .skill-section .skill-box .box-back-cover{
        height: 550px;
    }
}
@media (max-width: 752px) {
    .intro-container{
        height: 900px;
        align-items: center;
        justify-content: center;
        gap: 50px;
        clip-path: none;
    }
    .intro-container .intro-box p{
        width: 400px;
    }
    .intro-container .image-box{
        z-index: 2;
        margin-bottom: 50px;
    }
    .intro-container .image-box .cover-design{
     left: -30px;   
    }
    #down-icon{
        width: 20px;
    }
    .services_section .service_images .service-images-cover{
        width: 450px;
        height: 400px;
    }
    .services_section .service_images{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .services_section .service_images img{
        width: 250px;
    }
    .services_section .service_images img:nth-child(1){
        top: -20px;
        left: 20px;
    }
    .services_section .service_images img:nth-child(2){
        left: 220px;
    }
    .services_section .service_images img:nth-child(3){
        left: 20px;
        top: 140px;
    }
    .services_section .service_images img:nth-child(4){
        top: 180px;
        left: 200px;
    }
    @keyframes movestart1 {
        0% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(400%, 100%);
        }
    }
    @keyframes movestart2 {
        0% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(-400%, -200%);
        }
    }
    @keyframes movestart3 {
        0% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(-500%, 400%);
        }
    }
    @keyframes movestart4 {
        0% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(400%, -400%);
        }
    }
}
@media (max-width: 552px) {
    .intro-container .intro-box h1{
        font-size: 26px;
    }
    .intro-container .intro-box {
        z-index: 2;
    }
    .intro-container .intro-box p{
        width: 300px;
    }
    .intro-container .intro-box h2{
        font-size: 18px;
    }
    .intro-container .image-box .image{
        width: 250px;
        height: 320px;
    }
    .intro-container .image-box .image-cover{
        width: 260px;
        height: 290px;
        left: -10px;
    }
    .project-section{
        margin: 10px;
    }   
    .intro-container span:nth-child(3){
        right: -60px;
        bottom: 40px;
        z-index: 1;
        animation: movestart2 60s linear infinite;
    }
    .intro-container span:nth-child(4){
        left: -60px;
        top: 40px;
        z-index: 1;
        animation: movestart1 60s linear infinite;
    }
    .intro-container span:nth-child(5){
        top: -60px;
        right: 0px;
        z-index: 1;
        animation: movestart3 70s linear infinite;
    }
    .intro-container span:nth-child(6){
        left: 30px;
        bottom: -60px;
        z-index: 1;
        animation: movestart4 60s linear infinite;
    }
    .home-menu-icon{
        left: 85%;
        top: 85%;
    }
    .top-boxes{
        top: -30px;
    }
    .top-boxes .service-box{
        width: 100px;
        height: 100px;
    }
    .top-boxes .service-box img{
        width: 40px;
        height: 40px;
    }
    .top-boxes .service-box h2{
        font-size: 16px;
    }
    .services_section .service_images .service-images-cover{
        width: 380px;
        height: 320px;
    }
    .services_section .service_images img{
        width: 200px;
    }
    .services_section .service_images img:nth-child(1){
        left: 70px;
    }
    .services_section .service_images img:nth-child(2){
        left: 240px;
    }
    .services_section .service_images img:nth-child(3){
        left: 50px;
        top: 120px;
    }
    .services_section .service_images img:nth-child(4){
        top: 150px;
        left: 220px;
    }
    .skill-section{
        justify-content: start;
        height: 1520px;
    }
    .skill-section .skill-box{
        width: 350px;
    }
    .skill-section .skill-box .box-back-cover{
        top: 100px;
        height: 1420px;
    }
    @keyframes movestart1 {
        0% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(1500%, 1500%);
        }
    }
    @keyframes movestart2 {
        0% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(-2000%, -2000%);
        }
    }
    @keyframes movestart3 {
        0% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(-2500%, 4000%);
        }
    }
    @keyframes movestart4 {
        0% {
            transform: translate(0%, 0%);
        }
        100% {
            transform: translate(1500%, -5000%);
        }
    }
}
@media (max-width: 400px) {
    .intro-container .intro-box p{
        width: 250px;
    }
    .services_section{
        margin-bottom: 0px;
    }
    .services_section .service_text p{
        width: 250px;
    }
    .services_section .service_text h1{
        width: 250px;
    }
    .services_section .service_images .service-images-cover{
        width: 280px;
        height: 260px;
    }
    .services_section .service_images img{
        width: 150px;
    }
    .services_section .service_images img:nth-child(1){
        left: 50px;
    }
    .services_section .service_images img:nth-child(2){
        left: 190px;
    }
    .services_section .service_images img:nth-child(3){
        left: 50px;
        top: 80px;
    }
    .services_section .service_images img:nth-child(4){
        top: 110px;
        left: 180px;
    }
}